.user-box {
  border: 2px solid var(--border-color);
  box-shadow: 0px 0px 10px var(--shadow-color);
  transition: transform 0.3s ease-in-out;
}
.img-loader{
  color: #00B2FF;
  filter: drop-shadow(0 0 4px var(--shadow-color));
}
.user-box:hover {
 box-shadow: 3px 4px 20px var(--shadow-color);
 transform: scale(1.03);
}
input[type='search']{
  background: rgba(189, 189, 189,0.1);
  backdrop-filter: blur(4px);
  font-size: 0.9rem;
}
.sidebar-container{
  transition: width 0.4s ease-in-out;
  background-color: var(--sidebar-bg);
  border-left: 4px solid var(--border-color);
  height: 100vh;
  /* scrollbar-width: 10px; */
  /* scrollbar-color: var(--bg) rgba(55,76,128,0.8); */
}
.sidebar-container::-webkit-scrollbar{
  width: 5px;
}
.sidebar-container::-webkit-scrollbar-track {
  background: var(--border-color);
  border-radius: 10px;
}
.sidebar-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(65, 86, 158,0.9);    
}
.sidebar-container::-webkit-scrollbar-thumb {
  background-color: rgba(55, 76, 128,0.7);    
  border-radius: 20px; 
}
.not-found{
  position: relative;
}
.not-found img{
  min-width: 300px;
}
.not-found::before{
  content: 'No Matching Results';
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
}
@media(max-width:767px){
  .sidebar-container{
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}
