@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
}
:root {
--border-color: rgba(21, 122, 207,1);
--shadow-color: rgba(21, 122, 207,0.5);
--bg: #0f172a;
--hover-bg: rgba(53, 183, 220,0.3);
--fg: white;
--sidebar-bg:#1f1f3f; 
--skeleton-bg: rgba(100, 105, 114,0.8);
--skeleton-bg-dark:rgba(100, 105, 114,1);
}

html,body {
  background: var(--bg);
  color: white;
  font-family: "Poppins", sans-serif;
}

@layer {
  .heading {
    @apply font-semibold text-sky-400 mb-2;
  }
}
